[Desktop Entry]
Type=Application
Name=Bricks Tetrix
Comment=A Flutter-based bricks_tetrix game.
Icon=com.alexsherkhan.bricks_tetrix
Exec=/usr/bin/com.alexsherkhan.bricks_tetrix
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=Audio;UserDirs
OrganizationName=com.alexsherkhan
ApplicationName=bricks_tetrix