[Desktop Entry]
Type=Application
Name=Bricks Games
Comment=Старые добрые игры в кирпичи.
Icon=ru.alexsherkhan.bricks_games
Exec=/usr/bin/ru.alexsherkhan.bricks_games
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=Audio
OrganizationName=ru.alexsherkhan
ApplicationName=bricks_games
